<div markdown="span" style="color: #0d47a1;background-color: #64b5f6;border-color: #0d47a1;padding: 15px;margin-bottom: 20px;border:solid; border-radius: 4px;}"> <b>COVID-19:</b>
Nous sommes heureux de vous accueillir pour la location, dans le respect des gestes barrières:
<br/>
* Le matériel (bateaux, gilets, pagaies, bidons, ...) est désinfecté après chaque utilisation.
<br/>
* Le port du masque est obligatoire dans la camionette au retour.
<br/>
La pratique de cette activité ne nécessite pas la présentation d'un passe sanitaire.
</div>
