<div markdown="span" style="color: #0d47a1;background-color: #64b5f6;border-color: #0d47a1;padding: 15px;margin-bottom: 20px;border:solid; border-radius: 4px;}"> <b>COVID-19:</b>
Nous sommes heureux de vous accueillir à nouveau pour la location, dans le respect des gestes barrières:
<br/>
* Les bénévoles qui vous accueillent portent des masques.
<br/>
* Nous vous demandons de porter vous aussi un masque lors de la remise du métériel, et du retour en camionette.
<br/>
* Le matériel (bateaux, gilets, pagaies, bidons, ...) est désinfecté après chaque utilisation.
<br/>
* Nous limitons le nombre de personnes dans la camionette à 6 : nous ne pourrons transporter que les conducteurs, qui devrons aller chercher les membres du groupe au point d'arrivée.
</div>
